<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="python-backend" />
            <add name="portal-backend" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\asft\portal-backend\env\Scripts\python.exe|D:\asft\portal-backend\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="python-backend" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\asft\portal-backend\env\Scripts\python.exe|D:\asft\portal-backend\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
